/*
*  SMACSS -> http://smacss.com/book/categorizing
  1. Base
  2. Layout -> -> layouts/*.vue
  3. Module -> in components/*.vue
  4. State -> in components/*.vue
*/
@import './variables';

/*
  1. Base
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.6;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: $font-stack;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0
}

/*
  3. Module (default modules)
*/
#nuxt-loading {
  background-color: $brand-1
}
