$font-stack: 'Roboto', 'Helvetica', Arial, sans-serif;
$brand-1: #008375;
$brand-2: #005249;

$grey-1: #B5AFAF;
$grey-2: #D5D5D5;

$hd: 1600px;
$desktop: 1200px;
$tablet: 800px;

@mixin table-collapsed {
  @media (max-width: $hd) { @content; }
}